.app__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__container {
    margin: 2rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__container {
    height: auto;
    border: 1px solid grey;
    margin: 1.5rem 1rem;
    padding: 3rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.react-logo {
    width: 14rem;
    height: auto;
    padding: 0 2rem 2rem 2rem;
}

.button__container-left {
    border-right: 1px solid rgb(204, 200, 200);
}

.button__left,
.button__right {
    width: 7rem;
    height: 2.5rem;
}

.button__left,
.button__right,
.button__send {
    background: rgb(33,131,228);
    background: linear-gradient(90deg, rgba(33,131,228,1) 20%, rgba(70,149,228,1) 49%, rgba(126,177,228,1) 100%);
    color: rgb(247, 241, 241);
    padding: .7rem 2rem;
    border-radius: 0.625rem;
    border: none;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.19);
    margin: 0 1.5rem;
}

.button__right {
    opacity: 0.6;
    background: white;
    color: black;
}

.button__send {
    margin: 2rem 0 0 0;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    min-width: 12rem;
    height: 1.7rem;
    border-color: rgba(204, 200, 200, 70%);
    border-radius: 0.3rem;
}

.input__background-green {
    background-color: green;
}

.button__send {
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 20000px) {
  .main__container {
      display: flex;
      flex-direction: row-reverse;
  }
}
